#nav-bar {
  height: 80px;
  background-color: #00a087;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  z-index: 1;
}

#nav-bar .header {
  font-size: 2em;
  line-height: 80px;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  padding-right: 10px;
}

#compose-toggle {
  border: solid 1px black;
  border-radius: 7%;
  float: right;
  font-weight: 700;
  padding: 15px 9px;
  margin-left: auto;
  background-color: #e8fdff;
  color: #018f79;
}