.new-tweet {
  background-color: lightgray;
  padding: 0px 10px 0 10px;
  margin: 3em 2em 2em 2em;
  border-radius: 5px;
}

.counter {
  font-weight: 300;
  font-style: italic;
  font-size: 80%;
  padding-top: 9px;
}

.new-tweet h2 {
  border-bottom-color: black;
  border-bottom: 2px;
  border-bottom-style: solid;
  padding-top: .5em;
}

.new-tweet textarea {
  width: -webkit-fill-available;
  padding: 5px 0 0 5px
}

.new-tweet input {
  margin-bottom: 15px;
}

.error {
  border: solid 1px black;
  border-radius: 5%;
  background-color: red;
  color: black;
  font-weight: 700;
  font-size: 1em;
  padding: 2px 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: none;
}

.below-text {
  display: flex;
  justify-content: space-between;

}