.tweet {
  border: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  margin: 3em 2em 2em 2em;
  
}

.tweet header {
  background-color: #E8E8E8;
  padding: 3px 3px 3px 3px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.tweet header h5 {
  font-size: 2em;
  margin-right: auto;
  padding-top: 5px;
  margin-top: auto;
}

.tweet header img {
  border-radius: 10%;
  height: 60px;
  margin-right: 20px;
  margin-left: 6px;
}

.tweet p {
  padding: 8% 4% 8% 4%;
  overflow-wrap: break-word;
}

.tweet footer {
  display: flex;
  font-size: .9em;
  height: 40px;
  border-top: 1px solid #E8E8E8;
  align-items: center;
  padding-left: 8px;
}

.tweet header div {
  margin-bottom: 30px;
  font-size: .97em;
  padding-right: 3px;
}

.tweet:hover {
  filter: brightness(95%);
  color: black;
}